---
---

@import "bulma/bulma";

#logo {
    border-style: double;
    border-width: 3px;
    padding: 1em 1em 1em 1em;
}

#profile-icons {
    margin-top: 0.5em;
    a {
        border-bottom: none;
    }
}

span.tag.is-info {
    a {
        color: $white;
    }
}

.avatar {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    img {
        border-radius:  50%;
        border: 1px solid;
    }
}

.card.project {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav.nav {
    margin-bottom: 15px;
}




a.taglink {
    border-bottom: none !important;
    &:hover {
        border-bottom: none;
    }
}

.vertical-center {
    vertical-align: middle;
}

span.icon.vertical-text-bottom {
    vertical-align: text-bottom;
    &.margin-right {
        margin-right: 0.5em;
    }
}

.post-metadata {
    margin-right: 1em;
}

.section.margin-bottom {
    margin-bottom: 15px;
}

.fullwidth {
    width: 100%
}