---
---

$color1: rgba(68, 67, 73, 1);
$color2: rgba(86, 85, 91, 1);
$color3: rgba(11, 19, 43, 1);
$color4: rgba(91, 192, 190, 1);
$color5: rgba(111, 255, 233, 1);

$white: $color2;
$grey-lighter: $color1;
$grey-light: rgba(119, 117, 127, 1);
$grey: rgba(178, 176, 191, 1);
$grey-dark: rgba(214, 221, 239, 1);
$grey-darker: rgba(238, 234, 255, 1);
$black: invert($white);

$blue: $color3;
$purple: $color4;
$turquoise: $color5;

@import "bulma/bulma";

body, html {
    height: 100%;
    background-image: url('/images/stardust.png')
}

.message-body {
    background-color: $grey-lighter;
}

a.button.is-disabled.pagination {
    visibility: hidden;
}

.button {
    background-color: rgba(0, 0, 0, 0);
    &.is-primary {
        background-color: $color4;
    }
}

.no-margin-bottom:not(:last-child) {
    margin-bottom: 0;
}

.content {
    color: rgba(224, 224, 224, 1);
    a {
        border-bottom: none !important;
    }
    blockquote {
        background-color: $white;
    }

    pre.highlight {
        border-radius: 3px;
        margin-bottom: 1em;
        code {
            background-color: $grey-lighter;
        }
}

}
code {
    background-color: $grey-lighter;
}

.logocontainer {
    text-align: center;
}

#logo {
    border-style: double;
    border-width: 3px;
    padding: 1em 1em 1em 1em;
    display: inline-block;
}

#profile-icons {
    margin-top: 0.5em;
    a {
        border-bottom: none;
    }
}

.tag.is-info {
    a {
        color: $white;
    }
}

.section {
    border-radius: 5px;
    border-style: double;
    border-width: 3px;
    border-color: $grey-lighter;
}

.message-header {
    color: $grey-darker;
    background-color: $grey-lighter;
    border-style: double;
    border-width: 0 0 3px 0;
    border-color: $white;
}

.avatar {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    img {
        border-radius:  50%;
        border: 1px solid;
    }
}

.card.project {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav.nav {
    margin-bottom: 15px;
    border-style: double;
    border-width: 3px 0 3px 0;
    border-color: $grey-lighter;

    a {
        color: $black;
    }
}

a {
    transition:color .2s ease-out, background 1s ease-in;
}

.tagbox {
    line-height: 1.8;
}


a.taglink {
    border-bottom: none !important;
    &:hover {
        border-bottom: none;
    }
}

.vertical-center {
    vertical-align: bottom;
}

span.icon.vertical-text-bottom {
    vertical-align: text-bottom;
    &.margin-right {
        margin-right: 0.5em;
    }
}

.post-metadata {
    margin-right: 1em;
}

.section.margin-bottom {
    margin-bottom: 15px;
}

.fullwidth {
    width: 100%
}

.hero-body.less-padding {
    background-image: url('/images/stardust.png')
}

.columns.main-content {
    margin-top: -15px;
    background-image: url('/images/stardust.png')
}