---
---

@import "bulma/bulma";

#logo {
    border-style: double;
    border-width: 3px;
    padding: 1em 1em 1em 1em;
}

#profile-icons {
    margin-top: 0.5em;
    a {
        border-bottom: none;
    }
}

.avatar {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    img {
        border-radius:  50%;
        border: 1px solid;
    }
}

.card.project {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav.nav {
    margin-bottom: 15px;
}