--- 
layout: default 
permalink: /tags/ 
---



<div class="section margin-bottom">
    <div class="container">
        <div class="content">
            <h1 itemprop="name headline"><a href="{{ page.url | relative_url }}">Tags</a></h1>
        </div>
        {% for tag in site.tags %} 
        {% capture tag_name %}{{ tag | first }}{% endcapture %}
        <div class="card project">
            <div class="card-content">
                <div class="media">

                    <div class="media-content">
                        <p><a name="{{ tag_name | slugize }}"><span class="tag is-info is-large">{{ tag_name }}</span></a></p>
                    </div>
                </div>
                <div class="content">
                    <ul>
                    {% for post in site.tags[tag_name] %}

                    <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>

                    {% endfor %}
                </ul>
    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>