<section class="section">
    <div class="container">


<article class="message is-primary">
  <div class="message-header">
    <p class="has-text-centered">About me</p>
  </div>
  <div class="message-body">
      <figure class="avatar image is-128x128">
  <img src="{{ "/images/avatar.jpg" | relative_url }}" alt="image">
</figure>
                

                <div class="content">
                    <div class="has-text-centered"><strong>Klaus Deja</strong></div>
                    <small>Passionate coder. Working in IT since 2008, developer since 2015. 
                    I'm living in Duisburg, Germany. 
                    Creating JIRA plugins for a living at ease solutions. Always curious about new technologies.
                    </small>
                    <p class="has-text-centered" id="profile-icons">
                    <span class="icon"><a href="https://github.com/wtfuii"><i class="fa fa-github" aria-hidden="true"></i></a></span>
                    <span class="icon"><a href="https://www.xing.com/profile/Klaus_Deja/"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></span>
                    <span class="icon"><a href="hhttp://stackoverflow.com/users/2906770/wtfzn"><i class="fa fa-xing" aria-hidden="true"></i></a></span>
                    </p>
                </div>

  </div>
</article>

<article class="message is-primary">
  <div class="message-header">
    <p class="has-text-centered">Profiles</p>
  </div>
  <div class="message-body">

                <div class="content">
                    <a href="http://stackexchange.com/users/3472834">
<img src="http://stackexchange.com/users/flair/3472834.png?theme=clean" alt="profile for wtfzn on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for wtfzn on Stack Exchange, a network of free, community-driven Q&amp;A sites">
</a>
                </div>
  </div>
</article>

</section>