<section class="section">
    <div class="container">


<article class="message is-primary">
  <div class="message-header">
    <p class="has-text-centered">About me</p>
  </div>
  <div class="message-body">
      <figure class="avatar image is-128x128">
  <img src="{{ "/images/avatar.jpg" | relative_url }}" alt="image">
</figure>
                

                <div class="content">
                    <div class="has-text-centered"><strong>Klaus Deja</strong></div>
                    <small>Passionate coder. Working in IT since 2008, developer since 2015. 
                    I'm living in Duisburg, Germany. 
                    Creating JIRA plugins for a living at ease solutions. Always curious about new technologies.
                    </small>
                </div>

  </div>
</article>

<article class="message is-primary">
  <div class="message-header">
    <p class="has-text-centered">Profiles</p>
  </div>
  <div class="message-body">

                <div class="content">
                    <small>Passionate coder. Working in IT since 2008, developer since 2015. 
                    I'm living in Duisburg, Germany. 
                    Creating JIRA plugins for a living at ease solutions. Always curious about new technologies.
                    </small>
                </div>
  </div>
</article>

</section>