<section class="section">
    <div class="container">


<article class="message">
  <div class="message-header">
    <p class="has-text-centered">About me</p>
  </div>
  <div class="message-body">
      <figure class="avatar image is-128x128">
  <img src="{{ "/images/avatar.jpg" | relative_url }}" alt="image">
</figure>
                

                <div class="content">
                    <div class="has-text-centered"><strong>Klaus Deja</strong></div>
                    <small>Passionate coder. Working in IT since 2008, developer since 2015. 
                    I'm living in Duisburg, Germany. 
                    Creating JIRA plugins for a living at <a href="http://www.easesolutions.com/">ease solutions</a>. Always curious about new technologies.
                    </small>
                    <p class="has-text-centered" id="profile-icons">
                    <span class="icon"><a href="https://github.com/wtfuii"><i class="fa fa-github" aria-hidden="true"></i></a></span>
                    <span class="icon"><a href="http://stackoverflow.com/users/2906770/wtfzn"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></span>
                    <span class="icon"><a href="https://www.xing.com/profile/Klaus_Deja/"><i class="fa fa-xing" aria-hidden="true"></i></a></span>
                    </p>
                </div>

  </div>
</article>

<article class="message">
  <div class="message-header has-text-centered">
    <p>Tags</p>
  </div>
  <div class="message-body">

                <div class="content has-text-centered tagbox">
                  {% for tag in site.tags %} 
                  {% capture tag_name %}{{ tag | first }}{% endcapture %}
                  <a class="taglink" href="{{ "/tags" | relative_url }}#{{ tag_name | slugize }}"><span class="tag is-info is-small">{{ tag_name }}</span></a>
                  {% endfor %}
                </div>
  </div>
</article>
<div class="has-text-centered fullwidth"><small><a href='{{ "/imprint" | relative_url }}'>Impressum / Imprint</a></small></div>

</section>