--- 
layout: default 
---
<div class="section .margin-bottom">
  <div class="container">
    <div class="content">
      <article itemscope itemtype="http://schema.org/BlogPosting">

        <header>
          <h1 itemprop="name headline"><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
                      <p>
            <small>
              <span class="post-metadata"><span class="icon is-small vertical-text-bottom margin-right"><i class="fa fa-calendar" aria-hidden="true"></i></span>{{ page.date | date: "%b %-d, %Y" }}</span>
            
            {% if page.tags.size > 0 %}<span class="icon is-small vertical-text-bottom"><i class="fa fa-tag" aria-hidden="true"></i></span>{% endif %}
            {% for tag in page.tags %}
                <a class="taglink" href="{{ "/tags" | relative_url }}#{{ tag | slugize }}"><span class="tag is-info is-small vertical-center">{{ tag }}</span></a>
            {% endfor %}
            </small>  
            </p>
    </h1>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}
      </article>
    </div>
  </div>
</div>